[submodule "data/raw/AmbiK"]
	path = data/raw/AmbiK
	url = https://github.com/cog-model/AmbiK-dataset.git
[submodule "data/raw/CLARA-Dataset"]
	path = data/raw/CLARA-Dataset
	url = https://github.com/jeongeun980906/CLARA-Dataset.git
[submodule "data/raw/ClariQ"]
	path = data/raw/ClariQ
	url = https://github.com/aliannejadi/ClariQ.git
[submodule "data/raw/TEACh"]
	path = data/raw/TEACh
	url = https://github.com/alexa/teach.git
[submodule "data/raw/teach_tatc"]
	path = data/raw/teach_tatc
	url = https://github.com/GLAMOR-USC/teach_tatc.git
